In [1]:
# Import Libraries
import pandas as pd                                       # For Preprocessing
import dill                                               # For Reading Model

In [2]:
# Load Model
with open('deployment/kmeans_model.pkl', 'rb') as f:
    model_loaded = dill.load(f)

In [3]:
# Input Data Inference
df_inf = pd.DataFrame ([{
    'CUST_ID': 9999,
    'BALANCE': 2000.0,
    'BALANCE_FREQUENCY': 0.5,
    'PURCHASES': 1000.0,
    'ONEOFF_PURCHASES': 600.0,
    'INSTALLMENTS_PURCHASES': 800.0,
    'CASH_ADVANCE': 500.0,
    'PURCHASES_FREQUENCY': 5.0, 
    'ONEOFF_PURCHASES_FREQUENCY': 0.5,
    'PURCHASES_INSTALLMENTS_FREQUENCY': 0.7,
    'CASH_ADVANCE_FREQUENCY': 0.3,
    'CASH_ADVANCE_TRX': 3,
    'PURCHASES_TRX': 20,
    'CREDIT_LIMIT': 5000.0,
    'PAYMENTS': 800.0,
    'MINIMUM_PAYMENTS': 500.0,
    'PRC_FULL_PAYMENT': 0.2,
    'TENURE': 12}])
df_inf

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,9999,2000.0,0.5,1000.0,600.0,800.0,500.0,5.0,0.5,0.7,0.3,3,20,5000.0,800.0,500.0,0.2,12

In [5]:
df_inf.to_csv('deployment/test.csv')

In [4]:
# Cluster Data Inference
pred_inf = model_loaded.predict(df_inf)
pred_inf

array([1])